* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 5px;
}

button {
  padding: 5px;
}

.draggable {
  cursor: move;
}



#title {
  display: block;
  text-align: center;
  width: 100%;
}

#drawingpanel {
  float: left;
  padding: 2px;
  width: 250px;
  border: 1px solid #000;
  text-align: center;
}

#top_view, #front_view {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 23px;
  /* margin-right: 23px; */
  border: 1px dashed #000;
}

#content {
  float: left;
  position: relative;
  margin-left: 10px;
  /* left: 250px; */
  /* width: 100%; */
}

#theimage {
  border: 1px solid #000;
  display: block;
  position: relative;
  /* width: 100%; */
}

#gammaDiv {
  /* position: relative; */
  /* left: 0px; */
  /* top: 0px; */
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}

#renderButton {
  margin-left: 125px;
  margin-rigth: auto;
  width: 150px;
  diplay: block;
}

#gammaSlider {
  margin-left: 100px;
  width: 200px;
}

#gammaTitle {
  margin-left: 155px;
}

